{% load static %}

<!-- Bootstrap core JavaScript-->
<script src="{% static 'main/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'main/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'main/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'main/vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'main/js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'main/js/demo/chart-pie-demo.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'main/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'main/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'main/js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'main/js/demo/chart-pie-demo.js' %}"></script>
<script src="{% static 'main/js/demo/chart-bar-demo.js' %}"></script>
<script src="{% static 'main/js/demo/datatables-demo.js' %}"></script>

<script type="text/javascript">
    function crawlDailyPrice() {

        var params = "";

        var start_dt = $('#formDailyPrice [name="start_dt"]').val().trim()
        var end_dt = $('#formDailyPrice [name="end_dt"]').val().trim()
        var code = $('#formDailyPrice [name="code"]').val().trim()

        if (start_dt === "" || end_dt === "" || code === "") {
            let today = new Date()

            if (start_dt === "" && end_dt === "") {
                start_dt = today.toLocaleDateString().slice(0, -1);
                end_dt = today.toLocaleDateString().slice(0, -1);
            } else if (start_dt === "") {
                start_dt = end_dt;
            } else if (end_dt === "") {
                end_dt = today.toLocaleDateString().slice(0, -1);
            }

            if (code === "") {
                code = "all"
            }

            params = "start_dt=" + start_dt + "&end_dt=" + end_dt + "&code=" + code

        } else {
            params = $("form[name=formDailyPrice]").serialize();
        }

        alert(params);

        var url = "{% url 'main:crawl_daily_price' %}" + "?" + params;
        ajax(url);
    }

    function crawlDailyIndicator() {

        var params = "";
        var code = $('#formCompany [name="code"]').val().trim()
        if (code === "") {
            code = "test";
            params = "&code=" + code;
        } else {
            params = $("form[name=formDailyIndicator]").serialize();
        }
        alert(params)

        var url = "{% url 'main:crawl_daily_indicator' %}" + "?" + params;
        ajax(url);
    }

    function crawlCompany() {

        var params = "";
        var market = $('#formCompany [name="market"]').val().trim()
        if (market === "") {
            market = "all";
            params = "&market=" + market;
        } else {
            params = $("form[name=formCompany]").serialize();
        }
        alert(params);

        var url = "{% url 'main:crawl_company' %}" + "?" + params;
        ajax(url);
    }

    function ajax(url) {
        $.ajax({
            url: url,
            success: function (data) {
                alert(data);
            },
            error: function (request, status, error) {
                alert('실패');
                console.log(request, status, error);
            }
        });
    }
</script>